    <footer id="myFooter" style="padding:0px; ">
        <div class="container-fluid" id="footer1" style="background: #212529;">
            <div class="row text-center">
                <div class="col footer-social" style="background: #212529;"><a class="social-icons" href="#"><i class="fa fa-facebook" id="iconfacebookfooter"></i></a><a class="social-icons" href="#"><i class="fa fa-google-plus"></i></a><a class="social-icons" href="#"><i class="fa fa-twitter"></i></a><a class="social-icons" href="#"><i class="fa fa-linkedin"></i></a></div>
                <div class="col-12" style="background: #212529;">
                    <p class="footer-copyright" style="color: rgb(144,146,146);">© 2021 iT Match ~ Egg Education&nbsp;&nbsp;<a href="#"></a></p>
                </div>
            </div>
        </div>
    </footer>
    