<head>
	<base href="/">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
	<title>RitApp</title>
	<link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=ABeeZee">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cookie">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Muli">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
	<link rel="stylesheet" href="assets/fonts/fontawesome-all.min.css">
	<link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
	<link rel="stylesheet" href="assets/fonts/ionicons.min.css">
	<link rel="stylesheet" href="assets/fonts/simple-line-icons.min.css">
	<link rel="stylesheet" href="assets/fonts/fontawesome5-overrides.min.css">
	<link rel="stylesheet" href="assets/css/Animated-Type-Heading.css">
	<link rel="stylesheet" href="assets/css/Articale-List-With-Image-Zoom.css">
	<link rel="stylesheet" href="assets/css/best-carousel-slide-1.css">
	<link rel="stylesheet" href="assets/css/best-carousel-slide.css">
	<link rel="stylesheet" href="assets/css/Bold-BS4-Footer-Simple.css">
	<link rel="stylesheet" href="assets/css/BS5-Jumbotron-with-background-Image.css">
	<link rel="stylesheet" href="assets/css/Carousel_Image_Slider-1.css">
	<link rel="stylesheet" href="assets/css/Carousel_Image_Slider.css">
	<link rel="stylesheet" href="assets/css/Footer-with-social-media-icons-1.css">
	<link rel="stylesheet" href="assets/css/Footer-with-social-media-icons.css">
	<link rel="stylesheet" href="assets/css/Form-Select---Full-Date---Month-Day-Year.css">
	<link rel="stylesheet" href="assets/css/header-1.css">
	<link rel="stylesheet" href="assets/css/header-2.css">
	<link rel="stylesheet" href="assets/css/header.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.6.1/css/pikaday.min.css">
	<link rel="stylesheet" href="assets/css/LinkedIn-like-Profile-Box.css">
	<link rel="stylesheet" href="assets/css/Login-Form-Dark.css">
	<link rel="stylesheet" href="assets/css/Ludens-Users---3-Profile.css">
	<link rel="stylesheet" href="assets/css/Multi-step-form.css">
	<link rel="stylesheet" href="assets/css/Pretty-Header.css">
	<link rel="stylesheet" href="assets/css/Pretty-Registration-Form.css">
	<link rel="stylesheet" href="assets/css/Profile-Card-Slider---Slick-Slider.css">
	<link rel="stylesheet" href="assets/css/Profile-Edit-Form-1.css">
	<link rel="stylesheet" href="assets/css/Profile-Edit-Form.css">
	<link rel="stylesheet" href="assets/css/Projects-Horizontal.css">
	<link rel="stylesheet" href="assets/css/Responsive-Client-Two.css">
	<link rel="stylesheet" href="assets/css/Separator-with-icon.css">
	<link rel="stylesheet" href="assets/css/Single-Advisor-Profile.css">
	<link rel="stylesheet" href="assets/css/Swiper-Slider-Card-For-Blog-Or-Product-1.css">
	<link rel="stylesheet" href="assets/css/Swiper-Slider-Card-For-Blog-Or-Product.css">
	<link rel="stylesheet" href="assets/css/Team-Boxed.css">
	<link rel="stylesheet" href="assets/css/untitled-1.css">
	<link rel="stylesheet" href="assets/css/untitled.css">
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
	<link rel="stylesheet" href="assets/css/Tarjeta_style.css">
	<script src="https://cdn.tiny.cloud/1/tyjwuoordbvwvczq3h6z5lxxxd8l05n02kgcez79tsok1j0z/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
</head>