<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Seleccionar Trabajo </title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<!-- REVISAR ESTILOS-->

<body>
    <div class="root">

        <div class="">
            <h1 class="">Trabajos Disponibles</h1>
        </div>
        <br>
        <hr>
        <div>
            <table class=" ">
                <thead>
                    <tr>
                        <th>Atributo</th>
                        <th>Valor</th>
                    </tr>
                </thead>
                <tbody>
                     <tr>
                        <th>Puesto</th>
                        <td th:text="${trabajo.puesto}"></td>
                    </tr>
                     <tr>
                        <th>Tiempo</th>
                        <td th:text="${trabajo.tiempo}"></td>
                    </tr>
                    <tr>
                     <tr>
                        <th>Sueldo</th>
                        <td th:text="${trabajo.sueldo}"></td>
                    </tr>
                     <tr>
                        <th>Lugar</th>
                        <td th:text="${trabajo.lugar}"></td>
                    </tr>
                    <tr>
                        <th>Empresa</th>
                        <td th:text="${trabajo.empresa}"></td>
                    </tr>  
                </tbody>
            </table>
        </div>

    </div>
    <script th:src="@{/js/app.js}"></script>
</body>

</html>