<!DOCTYPE html>
<html lang="es-ar" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>RitApp</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=ABeeZee">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cookie">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Muli">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" href="assets/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="assets/fonts/simple-line-icons.min.css">
    <link rel="stylesheet" href="assets/fonts/fontawesome5-overrides.min.css">
    <link rel="stylesheet" href="assets/css/Animated-Type-Heading.css">
    <link rel="stylesheet" href="assets/css/Articale-List-With-Image-Zoom.css">
    <link rel="stylesheet" href="assets/css/best-carousel-slide-1.css">
    <link rel="stylesheet" href="assets/css/best-carousel-slide.css">
    <link rel="stylesheet" href="assets/css/Bold-BS4-Footer-Simple.css">
    <link rel="stylesheet" href="assets/css/BS5-Jumbotron-with-background-Image.css">
    <link rel="stylesheet" href="assets/css/Carousel_Image_Slider-1.css">
    <link rel="stylesheet" href="assets/css/Carousel_Image_Slider.css">
    <link rel="stylesheet" href="assets/css/Footer-with-social-media-icons-1.css">
    <link rel="stylesheet" href="assets/css/Footer-with-social-media-icons.css">
    <link rel="stylesheet" href="assets/css/Form-Select---Full-Date---Month-Day-Year.css">
    <link rel="stylesheet" href="assets/css/header-1.css">
    <link rel="stylesheet" href="assets/css/header-2.css">
    <link rel="stylesheet" href="assets/css/header.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.6.1/css/pikaday.min.css">
    <link rel="stylesheet" href="assets/css/LinkedIn-like-Profile-Box.css">
    <link rel="stylesheet" href="assets/css/Login-Form-Dark.css">
    <link rel="stylesheet" href="assets/css/Ludens-Users---3-Profile.css">
    <link rel="stylesheet" href="assets/css/Multi-step-form.css">
    <link rel="stylesheet" href="assets/css/Pretty-Header.css">
    <link rel="stylesheet" href="assets/css/Pretty-Registration-Form.css">
    <link rel="stylesheet" href="assets/css/Profile-Card-Slider---Slick-Slider.css">
    <link rel="stylesheet" href="assets/css/Profile-Edit-Form-1.css">
    <link rel="stylesheet" href="assets/css/Profile-Edit-Form.css">
    <link rel="stylesheet" href="assets/css/Projects-Horizontal.css">
    <link rel="stylesheet" href="assets/css/Responsive-Client-Two.css">
    <link rel="stylesheet" href="assets/css/Separator-with-icon.css">
    <link rel="stylesheet" href="assets/css/Single-Advisor-Profile.css">
    <link rel="stylesheet" href="assets/css/Swiper-Slider-Card-For-Blog-Or-Product-1.css">
    <link rel="stylesheet" href="assets/css/Swiper-Slider-Card-For-Blog-Or-Product.css">
    <link rel="stylesheet" href="assets/css/Team-Boxed.css">
    <link rel="stylesheet" href="assets/css/untitled-1.css">
    <link rel="stylesheet" href="assets/css/untitled.css">
</head>

<body>
    <nav class="navbar navbar-dark navbar-expand-lg fixed-top bg-white portfolio-navbar gradient">
		<div class="container"><a class="navbar-brand logo" href="/pagina_inicio">&nbsp; &nbsp; &nbsp;iT
				Match</a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navbarNav"><span
					class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
			<p th:if="${mensaje != null}" th:text="${mensaje}" class="nav-item"></p>
			<div class="collapse navbar-collapse" id="navbarNav">
				<ul class="navbar-nav ms-auto">
					<li class="nav-item"><a sec:authorize="isAuthenticated()" class="nav-link" href="/trabajo/listarTrabajos">Ver Trabajos</a></li>
					<li sec:authorize="!isAuthenticated()" class="nav-item"><a class="nav-link"
							href="/registro_empresa">Registrar Empresa</a></li>
					<li sec:authorize="!isAuthenticated()" class="nav-item"><a class="nav-link"
							href="/registro_postulante">Registrar Postulante</a></li>
					<li sec:authorize="hasRole('ROLE_EMPRESA')" class="nav-item"><a class="nav-link"
							href="/emparejado/listaractivos">Ver Matchs Activos</a></li>
					<li sec:authorize="hasRole('ROLE_EMPRESA')" class="nav-item"><a class="nav-link"
							href="/emparejado/listar">Ver Likes Nuevos</a></li>
					<li sec:authorize="hasRole('ROLE_POSTULANTE')" class="nav-item"><a class="nav-link"
							href="/emparejado/listar">Ver Likes dados</a></li>
					<li sec:authorize="hasRole('ROLE_POSTULANTE')" class="nav-item"><a class="nav-link"
							th:href="@{/postulante/modificarPerfil}">Ver Mi Perfil</a></li>
                                        <li sec:authorize="hasRole('ROLE_EMPRESA')" class="nav-item"><a class="nav-link"
							th:href="@{/empresa/modificarEmpresa}">Ver Mi Perfil</a></li>
					<li sec:authorize="isAuthenticated()" class="nav-item"><a class="nav-link" href="logout">Logout</a>
					</li>
					<li sec:authorize="!isAuthenticated()" class="nav-item"><a class="nav-link" id="botonIngresar"
							href="/login">Ingresar</a></li>
				</ul>
			</div>
		</div>
	</nav>
    <section class="portfolio-block skills">
        <h1 class="text-center">Busca a tu Candidato Ideal</h1>
        <div></div>
        <div class="container" id="contenedor1">
            <div class="heading">
                <h1 class="text-start text-muted" style="color: var(--bs-blue);text-shadow: 0px 0px 20px var(--bs-gray-900);box-shadow: 0px 0px;">*</h1>
            </div>
            <h1 class="display-5 fw-bold"></h1>
            <div class="row" id="tarjetas">
                <div class="col-md-4">
                    <div class="card special-skill-item border-0">
                        <div class="card-header bg-transparent border-0"><i class="icon ion-person-add" style="filter: brightness(100%) invert(100%) saturate(104%) sepia(100%);"></i></div>
                        <div class="card-body">
                            <h3 class="card-title">Candidato Ideal</h3>
                            <p class="card-text">Aquí podrás cargar todos los datos necesarios para poder hacer match con ese candidato ideal que necesita tu empresa.<br></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card special-skill-item border-0">
                        <div class="card-header bg-transparent border-0"><i class="icon ion-ios-unlocked" style="filter: invert(100%) saturate(86%) sepia(100%);"></i></div>
                        <div class="card-body">
                            <h3 class="card-title"><strong>Sin Sesgos</strong><br></h3>
                            <p class="card-text">Nuestro algoritmo parte de ser todos iguales , sin distinción de genero , edad y religión.<br></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card special-skill-item border-0">
                        <div class="card-header bg-transparent border-0"><i class="icon ion-thumbsup" style="filter: brightness(101%) invert(100%) sepia(100%);"></i></div>
                        <div class="card-body">
                            <h3 class="card-title">Aviso Simple</h3>
                            <p class="card-text">Encontrar un trabajo y un candidato nunca fue tan ágil.<br></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="text-center">
        <h1 class="text-center" style="margin-top: 52px;font-family: Lato, sans-serif;font-weight: 100;">Empresas que Confían en Nosotros</h1>
        <div class="client-section-2">
            <div class="container d-flex justify-content-center client-container">
                <div class="row g-0 d-flex justify-content-center client-row">
                    <div class="col-6 col-sm-4 col-md-2 col-lg-2 col-xl-2 d-flex justify-content-center align-items-start no-pad-2">
                        <div><a class="tooltip-top" href="#" data-tooltip="Brand One"><img class="img-fluid client-image-2" src="assets/img/Slice%204.jpg"></a></div>
                    </div>
                    <div class="col-6 col-sm-4 col-md-2 col-lg-2 col-xl-2 d-flex justify-content-center align-items-start no-pad-2">
                        <div><a href="#" data-tooltip="Brand Two"><img class="img-fluid client-image-2" src="assets/img/Slice%2012.jpg"></a></div>
                    </div>
                    <div class="col-6 col-sm-4 col-md-2 col-lg-2 col-xl-2 d-flex justify-content-center align-items-start no-pad-2">
                        <div><a href="#" data-tooltip="Brand Three"><img class="img-fluid client-image-2" src="assets/img/Slice%205.jpg"></a></div>
                    </div>
                    <div class="col-6 col-sm-4 col-md-2 col-lg-2 col-xl-2 d-flex justify-content-center align-items-start no-pad-2">
                        <div><a href="#" data-tooltip="Brand Four"><img class="img-fluid client-image-2" src="assets/img/Slice%2015.jpg"></a></div>
                    </div>
                    <div class="col-6 col-sm-4 col-md-2 col-lg-2 col-xl-2 d-flex justify-content-center align-items-start no-pad-2">
                        <div><a href="#" data-tooltip="Brand Five"><img class="img-fluid client-image-2" src="assets/img/Slice%201.jpg"></a></div>
                    </div>
                    <div class="col-6 col-sm-4 col-md-2 col-lg-2 col-xl-2 d-flex justify-content-center align-items-start no-pad-2">
                        <div><a href="#" data-tooltip="Brand Six"><img class="img-fluid client-image-2" src="assets/img/Slice%2010.jpg"></a></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div></div>
    <footer id="myFooter" style="padding:0px;">
        <div class="container-fluid" id="footer1" style="background: #212529;">
            <div class="row text-center">
                <div class="col footer-social" style="background: #212529;"><a class="social-icons" href="#"><i class="fa fa-facebook" id="iconfacebookfooter"></i></a><a class="social-icons" href="#"><i class="fa fa-google-plus"></i></a><a class="social-icons" href="#"><i class="fa fa-twitter"></i></a><a class="social-icons" href="#"><i class="fa fa-linkedin"></i></a></div>
                <div class="col-12" style="background: #212529;">
                    <p class="footer-copyright" style="color: rgb(144,146,146);">© 2021 iT Match ~ Egg Education&nbsp;&nbsp;<a href="#"></a></p>
                </div>
            </div>
        </div>
    </footer>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/bs-init.js"></script>
    <script src="assets/js/Animated-Type-Heading.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.6.1/pikaday.min.js"></script>
    <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
    <script src="assets/js/Multi-step-form.js"></script>
    <script src="assets/js/Profile-Card-Slider---Slick-Slider.js"></script>
    <script src="assets/js/Profile-Edit-Form.js"></script>
    <script src="assets/js/Swiper-Slider-Card-For-Blog-Or-Product.js"></script>
    <script src="assets/js/theme.js"></script>
</body>

</html>