<!DOCTYPE html>
<html lang="es-ar" xmlns:th="http://www.thymeleaf.org">

<!-- Head -->
<head th:replace="/fragmentos/head :: head"></head>

<body>
	<!-- Navbar -->
	<head th:replace="/fragmentos/navbar :: nav"></head>
	
	<h1 class="display-4"></h1>
	<div class="pagina">
		<main class="container">
			<div class="row m-5">
				<div class="col">
					<div class="display-1 text-center m-5" th:text="${codigo}"></div>
				</div>
			</div>
			<div class="row m-5">
				<div class="col">
					<div class="display-1 text-center m-5" th:text="${error}"></div>
				</div>
			</div>

		</main>

	</div>
	</div>
	</section>
	</div>
	
	<!-- Footer -->
	<head th:replace="/fragmentos/footer :: footer"></head>
	<!-- Script -->
	<head th:replace="/fragmentos/scripts :: scripts"></head>
	
</body>

</html>