<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Registrar_Empresa</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
    <div class="root">
        <form th:action="@{/empresa/registrar_form}" method="POST" class="form-register">
            <div class="form-register__header">
                <ul class="progressbar">
                    <li class="progressbar__option active">paso 1</li>
                    <li class="progressbar__option">paso 2</li>
                    <li class="progressbar__option">paso 3</li>
                </ul>
                <h1 class="form-register__title">Resgistrate Empresa</h1>
            </div>
            <div class="form-register__body">
                <div class="step active" id="step-1">
                    <div class="step__header">
                        <h2 class="step__title">Información personal<small></small></h2>
                    </div>
                    <div class="step__body">
                        <p th:if="${error != null}" th:text="${error}" style="color:red;"> </p>  
                        <input type="email" placeholder="Correo" class="step__input"  name="email" th:value="${email}">
                        <input type="password" placeholder="Contrasea" class="step__input"  name="contrasea_1" th:value="${contrasea_1}">
                        <input type="password" placeholder="Confirmar contrasea" class="step__input"  name="contrasea_2" th:value="${contrasea_2}">
                    </div>
                    <div class="step__footer">
                        <button type="button" class="step__button step__button--next" data-to_step="2" data-step="1">Siguiente</button>
                    </div>
                </div>
                <div class="step" id="step-2">
                    <div class="step__header">
                        <h2 class="step__title">Información personal<small></small></h2>
                    </div>
                    <div class="step__body">
                        <p th:if="${error != null}" th:text="${error}" style="color:red;"> </p>  
                        <input type="text" placeholder="Nombre" class="step__input" name="nombre" th:value="${nombre}">
                        <input type="text" placeholder="Actividad" class="step__input" name="actividad" th:value="${actividad}">
                        <input type="tel" placeholder="SitioWeb" class="step__input" name="sitioWeb" th:value="${sitioWeb}">
                    </div>
                    <div class="step__footer">
                        <button type="button" class="step__button step__button--back" data-to_step="1" data-step="2">Anterior</button>
                        <button type="button" class="step__button step__button--next" data-to_step="3" data-step="2">Siguiente</button>
                    </div>
                </div>
                <div class="step" id="step-3">
                    <div class="step__header">
                        <h2 class="step__title">Información personal<small></small></h2>
                    </div>
                    <div class="step__body">
                        <p th:if="${error != null}" th:text="${error}" style="color:red;"> </p>  
                        <input type="text" placeholder="Beneficios" class="step__input" name="beneficios" th:value="${beneficios}">
                        <input type="text" placeholder="Pais " class="step__input" name="pais" th:value="${pais}">
                        <textarea rows="4" cols="80" placeholder="Sobre Nosotros" class="step__input" name="sobreNosotros" th:value="${sobreNosotros}"></textarea>
                        <select type="text" size="1" class="step__input" name="eliminar" th:value="${eliminar}"> 
                            <option value="" selected>Eliminar Cuenta</option>
                            <option value="Si">Si</option>
                            <option value="NO">No</option>
                        </select>
                    </div>
                    <div class="step__footer">
                        <button type="button" class="step__button step__button--back" data-to_step="2" data-step="3">Anterior</button>
                        <button type="submit" class="step__button">Registrarse</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <script th:src="@{/js/app.js}"></script>
</body>
</html>
