<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org/" lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Datos Cliente</title>
	<link rel="stylesheet" th:href="@{/css/style.css}">

</head>

<body>
	<div class="root">

    	<form th:action="@{/postulante/crear}" method="POST" class="form-register-login">
        	<div class="step__header">
    			<h2 class="step__title">Ingrese datos postulante</h2>
    		</div>
    		<br>
            <div>
               <!-- <label class="form-label"> </label> -->
                <input id="nombre" type="text" name="nombre" class="step__input" placeholder="Nombre">
            </div>
            <div>
              <!--  <label class="form-label"></label> -->
                <input id="apellido" type="text" name="apellido" class="step__input" placeholder="Apellido">
            </div>
            <div>
                <!--<label class="form-label"> </label>-->
                <input id="email" type="email" name="email" class="step__input"  placeholder="email">
            </div>
                        <div>
                <!-- <label class="form-label"> </label> -->
                <input id="clave" type="password" name="contraseña" class="step__input"  placeholder="Contraseña">
            </div>            <div>
               <!-- <label class="form-label"> </label> -->
                <input id="password1" type="password" name="contraseña1" class="step__input"  placeholder="Repetir contraseña">
            </div>
            <div>
               <!-- <label class="form-label"> </label>-->
                <input id="telefono" type="text" name="telefono" class="step__input"  placeholder="Teléfono">
            </div>
            
            <div class="step__footer">
            	<button type="submit" text="Registrar" class="step__button step__button--next">Registrar </button>
			</div>
        
   	    </form>
    
    </div>
</body>

</html>
